@mixin nextIcon($icon-name, $color: null, $size: 20, $icon-only: false) {
	@warn '`nextIcon` is deprecated, use `oIconsGetIcon` or `nGetImage` instead';
	@if ($icon-only == false) {
		display: inline-block;
		width: $size + 0px;
		height: $size + 0px;
	}

	$service-url: 'https://www.ft.com/__origami/service/image/v2/images/raw/';
	$icon-url: 'http%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Ficons%2F#{$icon-name}.svg';
	$query: '?source=next';

	@if $color != null {
		$color: toHex($color);
		$query: $query + '&tint=%23#{$color},%23#{$color}';
	}

	background-image: url($service-url + $icon-url + $query + '&format=svg');
	// ie7/8 fallback
	background-image: url($service-url + $icon-url + $query + '&format=png&width=#{$size}')\9;

	@if ($icon-only == false) {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50%;
		background-color: transparent;
	}
}

@mixin nGetImage($image-type, $image-name, $color: null, $container-width: 128, $container-height: null, $apply-base-styles: true, $apply-width-height: true) {
	$url: 'https://www.ft.com/__origami/service/image/v2/images/raw/ft#{$image-type}:#{$image-name}';
	$query: '?source=next';

	@if $color != null {
		$color: str-slice(ie-hex-str($color), 4);
		$query: $query + "&tint=%23#{$color},%23#{$color}";
	}

	background-image: url($url + $query + '&format=svg');

	// ie7/8 fallback. Uses the `\9` selector hack to target ie6-8.
	// Hack is documented here: http://browserhacks.com/#hack-ab1bcc7b3a6544c99260f7608f8e845e
	// It still needs to use the build service  <-- what does this comment mean?
	background-image: url($url + $query + '&format=png&width=#{$container-width}')\9;

	// Prevents dimension styles being output by default.
	// Resolves issue where previous component `o-ft-icons` the mixin this replaces,
	// dimension styles were included within the $apply-base-styles block as well.
	@if ($apply-width-height == true) {
		width: $container-width + 0px;
		@if ($container-height == null) {
			$container-height: $container-width;
		}
		height: $container-height + 0px;
	}

	@if ($apply-base-styles == true) {
		@include oIconsBaseStyles;
	}
}
