// Search
// At the time of writing o-header duplicates search markup.
// Once for a core experience, once for an enhanced experience.
// The enhanced version is hidden until toggled with JavaScript.
// Instead since we can rely on the `core` class we can use the
// one enhanced experience search block and reveal for the core
// experience if needed.
.core [data-o-header-search] {
  display: block;
  box-shadow: none;
  position: relative;
}

// Search typeahead
.n-typeahead {
  display: none;
}

// Import the dropdown navigation styles
@import 'components/dropdown-navigation/dropdownNavigation.scss';

// Import the ask-ft button styles
@import 'components/ask-ft/askFtButton.scss';
