// Search
// At the time of writing o-header duplicates search markup.
// Once for a core experience, once for an enhanced experience.
// The enhanced version is hidden until toggled with JavaScript.
// Instead since we can rely on the `core` class we can use the
// one enhanced experience search block and reveal for the core
// experience if needed.
.core [data-o-header-search] {
  display: block;
  box-shadow: none;
  position: relative;
}

// Search typeahead
.n-typeahead {
  display: none;
}

// Overrides <a> color style set by dotcom-ui-base-styles
.o-header__ask-ft-button {

  &,
  &:hover {
    color: var(--o3-color-palette-black-80)
  }
}

/* style for the css menu dropdown container */
.o-header__professional-dropdown {
  z-index: 11;
  text-align: left;
  position: relative;
}

/* style for the dropdown box */
.o-header__professional-dropdown-content {
  width: auto;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 1s;
  // opacity: 1;
  // visibility: visible;
  right: 0px;
  margin-top: var(--o3-spacing-2xs);
}

.o-header__professional-dropdown-title-wrapper {
  padding: var(--o3-spacing-2xs) var(--o3-spacing-s);
  background: var(--Pro-Fill, linear-gradient(153deg, #262A33 54.99%, #434958 99.56%));
  border-top-right-radius: var(--o3-spacing-5xs);
  border-top-left-radius: var(--o3-spacing-5xs);
  display: flex;
  justify-content: space-between;
}

.o-header__professional-dropdown-title {
  font-size: var(--o3-font-size-metric2-0);
  line-height: var(--o3-font-lineheight-metric2-negative-1);
  font-weight: var(--o3-font-weight-regular);
  font-family: var(--o3-font-family-metric);
  padding: var(--o3-spacing-5xs) 0;
  color: #C0EFD8;
}

.o-header__professional-dropdown-close-icon {
  /* Create a square the size we want an icon */
  display: inline-block;
  width: var(--o3-spacing-s);
  height: var(--o3-spacing-s);
  /* Set the icon colour, In this case match the
     current foreground text colour. */
  background-color: white;
  /* Mask the square with an Origami icon. */
  mask-repeat: no-repeat;
  mask-size: contain;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.o-header__professional-dropdown-list-wrapper {
  background-color: white;
  border: 1px solid #D6D6D6;
  border-top: none;
  border-bottom-right-radius: var(--o3-spacing-5xs);
  border-bottom-left-radius: var(--o3-spacing-5xs);
}

.o-header__professional-dropdown-list-item:hover {
  background-color: #F5F5F5;
}

.o-header__professional-dropdown-list-item:active {
  background-color: #EAEAEA;
}

.o-header__professional-dropdown-list-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  gap: var(--o3-spacing-4xs);
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: var(--o3-font-size-metric2-1);
  line-height: var(--o3-font-lineheight-metric2-negative-1);
  font-weight: var(--o3-font-weight-regular);
  font-family: var(--o3-font-family-metric);
  padding: var(--o3-spacing-2xs) var(--o3-spacing-2xs);
  color: #000;
}

/* style for the button */
.o-header__professional-dropdown-button {
  color: white;
  padding: 5px 10px;
  border: 1px solid #555;
  border-radius: 3px;
  background: #96305e;
  background: -moz-linear-gradient(top, #96305e 0%, #822956 10%, #822956 90%, #751749 100%);
  background: -webkit-linear-gradient(top, #96305e 0%, #822956 10%, #822956 90%, #751749 100%);
  background: linear-gradient(to bottom, #96305e 0%, #822956 10%, #822956 90%, #751749 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96305e', endColorstr='#751749', GradientType=0);
}

.o-header__professional-dropdown-button:focus {
  pointer-events: none;
}



.o-header__professional-dropdown-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-header__professional-dropdown-content li {
  list-style-type: none;
}

.o-header__professional-dropdown-list-icon {
  /* Create a square the size we want an icon */
  display: inline-block;
  width: var(--o3-spacing-s);
  height: var(--o3-spacing-s);
  /* Set the icon colour, In this case match the
     current foreground text colour. */
  background-color: currentColor;
  /* Mask the square with an Origami icon. */
  mask-repeat: no-repeat;
  mask-size: contain;
}

.o-header__professional-dropdown-list-divider {
  border-bottom: 1px solid #D6D6D6;
}

@each $icon-name in (dashboard, bookmark, lock, newspaper, radar, highlight, share, mail, settings, exit, cross) {
  .#{$icon-name}-icon {
    mask-image: var(--o3-icon-#{$icon-name});
  }
}

.o-header__professional-dropdown-list-pro-label {
  padding: var(--o3-spacing-5xs) 10px;
  border-radius: 2px;
  color: var(--o3-color-palette-slate);
  align-items: center;
  background-color: var(--o3-color-use-case-link-underline-hover);
  font-size: var(--o3-font-size-metric2-negative-1);
  line-height: var(--o3-font-lineheight-metric2-negative-1);
  font-weight: var(--o3-font-weight-regular);
  font-family: var(--o3-font-family-metric);
}


@media(max-width: 779px) {
  .o-header__professional-dropdown-content {
    width: 0;
    height: 0;
    margin: 0;
    background: white;
    transition: visibility 1s;
  }

  .o-header__professional-dropdown-close-icon {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

  .o-header__professional-dropdown-button:focus+.o-header__professional-dropdown-content {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    transition: visibility 1s;
  }
}

@media(min-width: 780px) {
  /* If :focus detected the dropdown menu is displayed by making it visible */
  .o-header__professional-dropdown-button:focus+.o-header__professional-dropdown-content,
  .o-header__professional-dropdown-content:hover,
  .o-header__professional-dropdown-content:focus-within {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}