# See https://help.github.com/articles/about-codeowners/ for more information about this file.

* @financial-times/platforms

# The Origami team are responsible for sass-loader modifications.
packages/dotcom-build-sass/ @financial-times/origami-core @financial-times/platforms
