# See https://help.github.com/articles/about-codeowners/ for more information about this file.

* @financial-times/platforms

# The Origami team are responsible for sass-loader modifications.
packages/dotcom-build-sass/ @financial-times/origami-core @financial-times/platforms


# Allow Dependency Auto-Merger to approve dependency bump PRs
**/package*.json @ft-dependency-auto-merger @financial-times/platforms


# The Pro Personalisation and Discovery are responsible for the pro navigation - UI header's dropdown navigation
packages/dotcom-ui-header/src/components/dropdown-navigation @financial-times/professional-personalisation-and-discovery