<div class="hbs-partial-template-with-jsx-output" style="background-color:#F2DFCE; padding:20px">
	<h1>{{title}}</h1>
	{{{jsxOutput}}}
	<p>The above JSX output was passed to this Handlebars partial template</p>
</div>
