<div class="hbs-partial-with-jsx-component" style="background-color:#F2DFCE; padding:20px">
	<h1>This is a Handlebars partial</h1>
	{{{jsxComponent}}}
	<p>The output of the above JSX component was passed to this Handlebars partial</p>
</div>
