////
/// @group n-ui features
////

/// Configurable features
/// @type List
/// @private
$n-ui-features: (
	ads: 'critical',
	buttons: false,
	colors: true,
	cookieMessage: true,
	expander: false,
	footer: true,
	forms: false,
	grid: 'critical',
	header: 'critical',
	icons: true,
	layout: 'critical',
	myft: true,
	myftCommon: 'critical',
	myftDigestPromo: false,
	myftHint: false,
	normalize: 'critical',
	notification: true,
	overlay: false,
	pageHeading: false,
	tourTip: false,
	tourTipGroup: false,
	typography: 'critical',
	utils: 'critical',
	welcomeMessage: true,
	tooltip: true,
	syndication: true
) !default;

/// Declare any feature dependencies
/// @type Map
$n-ui-feature-dependencies: (
	myft: ('forms', 'notification', 'overlay', 'myftCommon'),
	tourTipGroup: ('tourTip')
);

/// Preset groups of features
/// @type Map
$n-ui-presets: (
	discrete: (),
	complete: ()
);

@import '_sass-utils/main';
