/*

This includes all the basic origami styles and mixins you can
expect to be available when a page uses n-ui

*/

// Base unit to standardize spacing
// Decide where it's gonna live later
$spacing-unit: 16px;

$o-assets-global-path: 'https://www.ft.com/__origami/service/build/v2/files/';

@import 'mixins';

// primitives
@import 'colors/main';
@import 'normalize/main';
@import 'grid/main';
@import 'icons/main';
@import 'typography/main';
@import 'util/main';

$n-util-is-silent: true !default;
$n-util-applied: false !default;

@if $n-util-is-silent == false {
	@if $n-util-applied == false {
		$n-util-applied: true;
		@include nUtilNormalize
		@include nUtilGrid
		@include nUtilTypography
		@include nUtilClasses
	}
}
