{{!-- {{#defineBlock 'meta'}}
  <meta name="description" content="This is a website about good dogs!">
{{/defineBlock}} --}}

{{#> layout }}
  <div class="Page">
    <h1 class="Page-title">{{pageTitle}}</h1>
    <div class="Page-content">
      {{>dog-list}}
    </div>
  </div>
{{/layout}}
