<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{#if pageTitle}}{{pageTitle}} | {{/if}}{{siteName}}</title>
  {{!-- {{#outputBlock 'meta'}}{{/outputBlock}} --}}
  <link rel="stylesheet" href="public/styles.css">
</head>
<body>
  <header role="banner">
    {{>header}}
  </header>
  <main role="main">
    {{> @partial-block }}
  </main>
  <footer role="contentinfo">
    {{>footer}}
  </footer>
</body>
</html>
