@mixin nGetImage($image-type, $image-name, $color: null, $container-width: 128, $container-height: null) {
	@if $image-type == 'icon' {
		@error 'We no longer support using nGetImage for icons. Please use o-icons’ oIconsGetIcon mixin instead (https://github.com/Financial-Times/o-icons/blob/v5.4.2/scss/_mixins.scss#L16).';
	}

	$url: 'https://www.ft.com/__origami/service/image/v2/images/raw/ft#{$image-type}:#{$image-name}';
	$query: '?source=next';

	@if $color != null {
		$color: str-slice(ie-hex-str($color), 4);
		$query: $query + "&tint=%23#{$color},%23#{$color}";
	}

	@if ($container-height == null) {
		$container-height: $container-width;
	}

	background-color: transparent;
	// scss-lint:disable DuplicateProperty
	background-image: url($url + $query + '&format=svg');
	// IE 6/7/8 fallback. Uses the `\9` selector hack to target IE those versions.
	// Hack is documented here: http://browserhacks.com/#hack-ab1bcc7b3a6544c99260f7608f8e845e
	background-image: url($url + $query + '&format=png&width=#{$container-width}')\9;
	// scss-lint:enable DuplicateProperty
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: $container-height + 0px;
	vertical-align: baseline;
	width: $container-width + 0px;
}
