////
/// @group n-ui-foundations mixins
////

/// Basis of n-ui z-indexes
/// @type Number
$base-styles-z-index-basis: 100;

/// Ordered list of z-indexes use cases
/// @type List
$base-styles-z-index-order: (
	'welcome',
	'meganav',
	'sticky-header',
	'drawer',
	'typeahead',
	'overlay',
	'notification'
);

@mixin baseStylesZIndexFor($use-case) {
	// scss-lint:disable ImportantRule
	$index: index($base-styles-z-index-order, $use-case);

	@if $index {
		z-index: $base-styles-z-index-basis + $index !important;
	} @else {
		@warn 'z-index for use case "#{$use-case}" not found.';
	}
	// scss-lint:enable ImportantRule
}
