@import '@financial-times/o-normalise/main';
@import 'mixins';


@mixin baseStylesUtil {

	//
	// Display
	//
	.base-styles-hide {
		display: none;
	}

	@media screen {
		/* stylelint-disable */
		.base-styles-hide\@screen {
		/* stylelint-enable */
			display: none;
		}
	}

	@media print {
		/* stylelint-disable */
		.base-styles-hide\@print {
		/* stylelint-enable */
			display: none;
		}
	}

	.core .base-styles-hide-core,
	.enhanced .base-styles-hide-enhanced {
		display: none;
	}

	// Output o-normalise’s helper classes
	.o-normalise-clearfix {
		@include oNormaliseClearfix;
	}

	.o-normalise-visually-hidden {
		@include oNormaliseVisuallyHidden;
	}
}
