// This stylesheet is loaded asynchonously; that is, it doesn't block the browser from rendering while it loads. 
// See: href="https://github.com/Financial-Times/dotcom-page-kit/blob/HEAD/packages/dotcom-ui-shell/README.md

.asynchronous-example {
    font-size: medium;
    border: 1px solid lightgrey;
    margin: 20px;
}
