$n-ui-foundations-applied: true;
@import "n-ui-foundations/main";

.hello {
  @include oTypographySans($scale: 7);
}

@media (min-width: 76.25em){
  .content {
    @include oTypographySans($scale: 3);
    max-width: 1220px;
    margin: auto;
    h3, p {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
