<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Dynamically-loaded dogs">
    <meta charset="utf-8">
    <title>{{#if pageTitle}}{{pageTitle}} | {{/if}}{{siteName}}</title>
  </head>
  <body style="background-color: #fff1e5">
    <h1>Security Headers Example Application</h1>
    <script src="public/scripts.bundle.js"></script>
  </body>
</html>
