// This is needed by Origami components that speak to the image service. Setting
// it here means it'll be the same no matter which app generates it and it will
// be reused from the CDN
$system-code: 'page-kit-layout' !default;

@import 'n-ui-foundations/main';

.core .o--if-js,
.enhanced .o--if-no-js {
  display: none !important;
}

.n-layout {
  display: table;
  width: 100%;
  height: 100vh;
  table-layout: fixed;
}

.n-layout__row {
  display: table-row;
}

.n-layout__row--content {
  height: 100%;
}

.n-layout__header-before {
  background-color: oColorsGetPaletteColor('black-20')
}

.n-layout__skip-link {
  @include nUiZIndexFor('notification');
  position: absolute;
  top: 1em;
  left: -9999px;
  padding: 0.5em 1em;
  background: getColor('velvet');
  color: getColor('white');

  &:focus {
    left: 0;
    color: getColor('white');
  }
}

@media print {
  .n-layout,
  .n-layout__row {
    display: block;
  }
}

@import '@financial-times/dotcom-ui-header/styles';
@import '@financial-times/dotcom-ui-footer/styles';
