$system-code: 'page-kit-base-styles' !default;

@import 'sass/grid/main';
@import 'sass/util/main';
@import '@financial-times/o3-foundation/css/core.css';

@mixin dotcomUiBaseStyles {
	@include dotcomUiGrid;
	@include dotcomUiUtil;
}

@mixin nUiFoundations {
  @warn "the nUiFoundations mixin has been renamed dotcomUiBaseStyles";
  @include dotcomUiBaseStyles;
}

$dotcom-ui-base-styles-applied: false !default;

@if $dotcom-ui-base-styles-applied == false {
	$dotcom-ui-base-styles-applied: true;
	@include dotcomUiBaseStyles;
}
