$system-code: 'page-kit-base-styles' !default;

// NOTE: please also update ./src/lib/fontFaces.ts when updating the URL below. They
// need to stay in-sync to ensure our CSS output matches the resource hints we set.
$o-fonts-path: 'https://www.ft.com/__origami/service/build/v3/font?version=1.12';

// TODO: Migrate into this package existing usage of n-ui-foundations that
// falls under definition of this package, with the intention of ideally
// being able to decommission n-ui-foundations.
@import 'n-ui-foundations/main';

.core .o--if-js,
.enhanced .o--if-no-js {
  display: none !important;
}
