/* Additional Origami styles */
/* Demo styles are not included in o-header by default */

.demo {
	text-align: center;
}

.demo__message {
	display: inline-block;
	margin: 50px 0;
	padding: 1em;
	border: 1px solid currentColor;
	border-radius: 0.5em;

	text-align: center;
	font-size: 24px;

	&:before,
	&:after {
		padding: 0 1em;
		font-size: 75%;
	}
}

.demo__message--scroll {
	margin-bottom: 2000px;
	border: none;

	&:before,
	&:after {
		content: '▼';
	}
}

.extra {
	margin: 0;
	padding: 0.5em;
	text-align: center;
	background: cornflowerblue;
	color: white;
}

.demo--flexed {
	display: flex;
	justify-content: center;
}

.demo--flexed p {
	margin: 0 20px;
}

.demo__message--contents {
	display: contents;
}
