////
/// @group n-ui-foundations mixins
////

/// Basis of n-ui z-indexes
/// @type Number
$n-ui-z-index-basis: 100;

/// Ordered list of z-indexes use cases
/// @type List
$n-ui-z-index-order: (
	'welcome',
	'meganav',
	'sticky-header',
	'drawer',
	'typeahead',
	'overlay',
	'notification'
);

//BREAKING CHANGE: @include clearfix -> @include oNormaliseClearfix
@mixin clearfix() {
	@error "The clearfix mixin has been removed. Please use oNormaliseClearfix instead (straight swap)";
}

//BREAKING CHANGE: @include nUtilsVisuallyHidden -> @include oNormaliseVisuallyHidden
@mixin nUtilsVisuallyHidden() {
	@error "The nUtilsVisuallyHidden mixin has been removed. Please use oNormaliseVisuallyHidden instead (straight swap)";
}

@mixin nUiZIndexFor($use-case) {
	// scss-lint:disable ImportantRule
	$index: index($n-ui-z-index-order, $use-case);

	@if $index {
		z-index: $n-ui-z-index-basis + $index !important;
	} @else {
		@warn 'z-index for use case "#{$use-case}" not found.';
	}
	// scss-lint:enable ImportantRule
}
