@import 'o-normalise/main';
@import 'mixins';

//BREAKING CHANGE: .n-util-clearfix -> .o-normalise-clearfix
//BREAKING CHANGE: .n-util-visually-hidden -> .o-normalise-visually-hidden

@mixin nUiUtil {

	//
	// Display
	//
	.n-util-hide {
		display: none;
	}

	@media screen {
		// scss-lint:disable SelectorFormat
		.n-util-hide\@screen {
			display: none;
		}
	}

	@media print {
		// scss-lint:disable SelectorFormat
		.n-util-hide\@print {
			display: none;
		}
	}

	.no-js .n-util-hide-no-js,
	.js .n-util-hide-js,
	.core .n-util-hide-core,
	.enhanced .n-util-hide-enhanced {
		display: none;
	}

	//
	// Text
	//
	.n-util-text-center {
		text-align: center;
	}

	.n-util-text-left {
		text-align: left;
	}

	.n-util-text-right {
		text-align: right;
	}

	.n-util-truncate {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;
	}

	// Output o-normalise’s helper classes
	.o-normalise-clearfix {
		@include oNormaliseClearfix;
	}

	.o-normalise-visually-hidden {
		@include oNormaliseVisuallyHidden;
	}
}
