@import 'o-loading/main';
@import 'o-buttons/main';

@include oLoading();

.Expander {
  margin: 20px;
}

.Expander-toggle {
  @include oButtons();
}

.Expander-content {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.Expander-content[aria-hidden="true"] {
  display: none
}
