.o-header__drawer-current-edition {
	color: #66605a;
	margin: 0.5em 0;
}

.o-header__drawer-menu--border {
	border-top: 2px solid #E6D9CE;
}

.o-header__drawer-search {
	border-top: 2px solid #E6D9CE;
}
