<div style="background-color:#FFF1E5; padding:20px">
  <h1>{{pageTitle}}</h1>
  <p>This page has been rendered using Handlebars as the view engine</p>

  {{#capture "myCapturedOutput"}}
    {{> partial-template title="This is Handlebars output"}}
  {{/capture}}

  {{{loadJsxComponent handlebarsOutput=myCapturedOutput}}}
</div>
