<div style="background-color:#FFF1E5; padding:20px">
  <h1>{{pageTitle}}</h1>
  <p>This page has been rendered using Handlebars as the view engine</p>

  {{#capture "myCapturedOutput"}}
    {{> partial-template title="This is Handlebars output"}}
  {{/capture}}

  {{{renderReactComponent localPath="views/components/ComponentWithHbsOutput" title="This is JSX output" handlebarsOutput=myCapturedOutput}}}
  <p style="margin-bottom:50px">The above JSX component was imported from a local path and output via the renderReactComponent Handlebars helper</p>

  {{{renderReactComponent package="@financial-times/dotcom-ui-header" namedExport="LogoOnly" variant="large-logo"}}}
  <p>The above JSX component was imported from Page Kit as an external dependency and output via the renderReactComponent Handlebars helper</p>
</div>
