body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-kerning: normal;
  font-size: 16px;
  line-height: 22px;
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 18px;
    line-height: 24px;
  }
}

h1 {
  font-size: 28px;
  line-height: 32px;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
}

h2 {
  font-size: 20px;
  line-height: 24px;
}

@media screen and (min-width: 640px) {
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

@media screen and (min-width: 640px) {
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

h4 {
  font-size: 20px;
  line-height: 24px;
}
