$text-color: #990f3d;
$bg-color: #fff1e5;

.selector {
  color: $text-color;
  background: $bg-color;
}

// This ruleset should be de-duplicated by minification
.selector {
  color: $text-color;
  background: $bg-color;
}

.title {
  font-size: 2em;
  margin: 0 0 0.2em;
  hyphens: auto;
}
